.inventory-selection {
    display: flex;
    justify-content: flex-start; /* Align items to the start */
    align-items: center; /* Center items vertically */
    padding: 10px; /* Adjust the padding value as needed */
    border: 1px solid black; /* Example border style */
    max-width: 400px;
    height: 100px;
    overflow-x: auto; /* Allow horizontal scrolling */
  }
  
  .inventory-selection-item {
    padding: 5px; /* Adjust the padding value as needed */
    max-width: 50px; /* Limit the width of each item */
    white-space: nowrap; /* Prevent items from wrapping */
    margin-right: 5px; /* Add margin between items */
  }
  
  .inventory-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Adjust the number of columns as needed */
    gap: 5px; /* Adjust the gap between grid items */
    padding: 5px; /* This padding will ensure that the grid doesn't touch the container's edges */
    max-width: 400px; /* Set a maximum width for the container */
    border: 1px solid black; /* Example border style for the container */
    overflow: hidden; /* Hide any content that overflows the container */
    color: black;
  }
  
  .inventory-slot {
    padding: 10px; /* Adjust the padding value as needed */
    border: 1px solid black; /* Example border style */
  }

  .inventory-slot.highlight {
    background-color: rgba(0, 0, 255, 0.2); /* Example highlight color */
  }
  
  .inventory-selection-item.dragging {
    opacity: 0.5;
    background-color: #ccc; /* Example color for the dragging state */
  }
  
  .inventory-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: lightblue; /* Example color to visualize the item */
    border: 1px dashed #666; /* Example border style for the item */
    width: 100%; /* Ensure the item fills the slot */
    height: 100%;
  }

  
